body{
    
    text-align: center;
    
    
}
button{
    margin-top: 100px ;
  background-color: rgb(84, 150, 226);  
  height: 50px;
  width: 100px;
  margin-bottom: 50px;
  position: relative;
}

button:hover{
border-radius: 10px;
background-color: rgb(110, 247, 240);
box-shadow: rgb(13, 10, 180) 5px 5px ;
}

h1{
    margin-top:150  ;
    color: rgb(84, 150, 226);
}
#lion{
    margin-top:10em ;
    border:solid 4px rgb(84, 150, 226); 
    box-sizing: border-box;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 15px;
}

